{% include 'base.html' %}

{{super}}
    <h1 class="h"> Welcome to my Gallery</h1>
   <div class="container">


    <div class="row">
{% for data in images %}
<!-- Displaying the images -->

<!-- Card -->
<div class="col-md-3">
<div class="card">

        <!-- Card image -->
        <img class="card-img-top" src="{{data.image.url}}" alt="Card image cap">
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title" style="text-align: center"><a>{{ data.title}}</a></h4>
          <!-- Text -->
          <!-- Button -->
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
      
        </div>
      
      </div>
      <!-- Card -->

</div>
</div>
</div>
{% endfor %}