
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    
    <nav class="navbar navbar-dark default-color justify-content-between">
        <a class="navbar-brand" href="{% url 'index' %}">Galerie</a>
        {% for category in categories %}
        <a class="navbar-brand" href="{% url 'category' category.id %}">
          <p>{{category.category}}</p>
          
        </a>
        {% endfor %}
        
        

        <form class="form-inline my-1" role="search" action="{% url 'search_results' %}">
          <div class="md-form form-sm my-0">
            <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search"
              aria-label="Search" name="searchterm">
          </div>
          <button class="btn btn-outline-white btn-sm my-0" type="submit">Search</button>
        </form>
      </nav>

</body>
</html>