.h{
    color: aqua;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.t{
    background-color: darkgrey;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
}

